@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  padding: 20px;
}

a{
  text-decoration: none;
  color: grey;
  padding:15px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.left-links{
  display: flex;
}

.right-links{
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  padding:20px;
  display:flex;
  gap: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  padding: 20px;
  background-color: lightgrey;
}