body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  flex:1;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  align-content: center;
  font-weight:900;
  font-size: 32px;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  flex-shrink:0;
  padding:16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  margin:10px;
  width: 400px;
}

.content {
  display: flex;
  flex:1;
  flex-direction: row;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
}

.footer{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart{
  color: red;
  padding:4px;
}

a{
  color:white;
  text-decoration: none;
}

ul{
  list-style: none;
}
li{
  padding:10px;
}